
.content{margin:60px 0 0  36px;overflow: hidden;}


.content .listContainer{width: 800px;padding-left:16px;clear: both;}
.content .listContainer li{float: left;margin-bottom: 10px;}
.listWrap{padding:30px 28px 12px;border:1px solid #dbdbdb;margin-left: 20px;}
.listWrap img{
	/*width: 120px;
	height: 150px;
	*/
}
.toolInfo{margin-top:10px;}
.detailInfo{
	line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.pageWrap{
	clear: both;
	text-align: center;
	margin:10px 0;
}
.detail_top_wrap{
	float: left;
	margin-left: 16px;
	overflow: hidden;
	margin-bottom: 10px;
}
.detail_top_wrap .detail_top{
	width: 354px;
	float: left;
	margin-left: 20px;
	border: 1px solid #dbdbdb;
	padding: 10px;
	height: 218px;
	word-wrap:break-word;
	text-align:justify;
	position: relative;
}
/*
.detail_top_wrap .detail_top img{
	width: 130px;
	height: 130px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -65px;
	margin-left: -65px;
	overflow:auto;
	/* border-radius: 50%; */
}
*/